<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load html_utils %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{% static 'common/img/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'auth_custom/css/style.css' %}">

    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="logo">
        <h1 class="logo-site">Mimic</h1>
        <div class="logo-login">Login</div>
        {{ form.non_field_errors }}
        {{ form.username.errors }}
        {{ form.password.errors }}
    </div>
    <form method="POST" class="login-form">
        {% csrf_token %}
        {{ form.username.label_tag|set_attrs:"class='label username-label'" }}
        <div class="input-info-block username-info">
            {{ form.username|set_attrs:"class='input username-input'autofocus autocomplete='off'" }}
        </div>
        {{ form.password.label_tag|set_attrs:"class='label password-label'" }}
        <div class="input-info-block password-info">
            {{ form.password|set_attrs:"class='input password-input' autocomplete='off'" }}
        </div>
        <button type="submit" class="login-button">Login</button>
        <a class="register-button" href="{% url 'auth_custom:register' %}">Register</a>
    </form>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" type="text/javascript" src="{% static 'auth_custom/js/login.js' %}"></script>
</body>
</html>
