<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load html_utils %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'auth_custom/css/style.css' %}">

    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="logo">
        <h1 class="logo-site">Mimic</h1>
        <div class="logo-register">Register</div>
        {{ form.non_field_errors }}
        {{ form.username.errors }}
        {{ form.password1.errors }}
        {{ form.password2.errors }}
    </div>
    <form method="POST" class="register-form">
        {% csrf_token %}
        {{ form.username.label_tag|set_attrs:"class='label username-label'" }}
        <div class="input-info-block username-info">
            {{ form.username|set_attrs:"class='input username-input'autofocus autocomplete='off'" }}
            <p class="username-info-text">Only letters, numbers, and @/./+/-/_ characters.</p>
        </div>
        {{ form.password1.label_tag|set_attrs:"class='label password-label'" }}
        <div class="input-info-block password-info">
            {{ form.password1|set_attrs:"class='input password-input' autocomplete='off'" }}
            <p class="password-info-text">At least 8 characters.</p>
        </div>
        {{ form.password2.label_tag|set_attrs:"class='label confirm-label'" }}
        <div class="input-info-block confirm-info">
            {{ form.password2|set_attrs:"class='input confirm-input' autocomplete='off'" }}
            <p class="confirm-info-text">Confirm password.</p>
        </div>
        <button type="submit" class="button register-button">Register</button>
        <a class="button login-button" href="{% url 'auth_custom:login' %}">Login</a>
    </form>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'auth_custom/js/register.js' %}"></script>
</body>
</html>

